$primary-color: black;
$bg: white;

html {
    font-family: "sans-serif";
    padding: 1ex;
}

html, body, #root {
    height: 100%;
    box-sizing: border-box;
}

h1 {
    font-size: 150%;
}
h2 {
    font-size: 130%;
}
h3 {
    font-size: 120%;
}

div.twoPane {
    display: flex;
    justify-content: center;
    height: 100%;

    > div {
        display: flex;
        flex-direction: column;
    }
    >:nth-child(1) {
        flex-grow: 1;
    }
    >:nth-child(2) {
        flex-grow: 4;
    }
}

.pdfPreview {
    height: 100%;
    width: 100%;
    > iframe {
        display: block;
        box-sizing: border-box;
        width: 100%;
        height: 100%;
    }
}

table {
    $table-color: $bg;

    width: 100%;

    border-collapse: collapse;
    th, td {
        padding: .5ex;

        > span {
            display: flex;
            justify-content: center;
        }

        input, button {
            display: block;
        }
        input {
            width: 100%;
        }
    }

    th {
        text-align: left;
        border-bottom: solid $primary-color 1px;
    }
    tr {
        &:nth-child(even) {
            background-color: darken($table-color, 20);
        }
        &:nth-child(odd) {

        }
        td {
        }
    }
}
